{% extends "base.html" %}

{% block title %}
	<title> Employee Detail </title>
{% endblock title %}

{% block nav-name %}
	Employee Detail
{% endblock nav-name %}

{% block content %}

<style>
	ul {
		list-style-type: none;
	}
</style>


<h3>{{ emp.emp_name }}</h3>

<label> E Code: </label>
<span>{{ emp.emp_code }}</span>
<br>

<label> Position:</label>
<span>{{ emp.emp_position }}</span>

<h4> Employee Informations </h4>

<ul>
	<li><a href="{% url 'employee:employee_profile' emp.id %}">Profile</a></li>
	<li><a href="{% url 'employee:employee_project' emp.id %}">Project</a></li>
	<li><a href="{% url 'employee:employee_education' emp.id %}">Education</a></li>
</ul>

{% endblock content %}
