{% extends "base.html" %}

{% block title %}
	<title> Employee Project </title>
{% endblock title %}

{% block nav-name %}
	Employee Project
{% endblock nav-name %}

{% block content %}
<style>
	table, th, td {
  		border:1px solid black;
	}

	table {
		width:100%;
	}
</style>

<h2> {{ project.emp.emp_name }} </h2> 

<br>
<br>
<table>
  <tr>
    <th>Created Date</th>
    <th>Project Name</th>
  </tr>
{% for p in project %}
  <tr>
    <td>{{ p.created_date }}</td>
    <td>{{ p.project_name }}</td>
  </tr>
{% endfor %}
</table>

{% endblock content %}
